<div class="questionc" *ngIf="startdiv">
<div class="jumbotron">
  <h1 class="display-4">Welcome to our survey</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p class="lead">
    <button class="btn btn-primary btn-lg"  (click)="fullscreen()">Start survey</button>
  </p>
</div>
</div>

<div *ngIf="questiondiv">
<video autoplay muted="muted" #videoEl id="myVideo">
  <source src="../assets/video/frame.mp4" type="video/mp4">
</video>
<div *ngIf="isShown" class="content w3-animate-bottom">
  <app-draglist></app-draglist>
  <!-- <button id="myBtn" (click)="myFunction()">Replay</button> -->
  <button id="myBtn"  (click)="Exitfullscreen()">Complete survey</button>
</div>
</div>



